@{
    ViewData["Title"] = "Electronics Products Page";
}

<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />

<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Home Page</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Onile Products Seeling</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Electronics</a></li>
                                <li class="breadcrumb-item active">Products</li>
                            </ol>
                        </div><!--end col-->
                        <div class="col-auto align-self-center">
                            <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                <span class="" id="Select_date">March 11</span>
                                <i data-feather="calendar" class="align-self-center icon-xs ml-1"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-outline-primary">
                                <i data-feather="download" class="align-self-center icon-xs"></i>
                            </a>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div><!--end row-->
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="ribbon1 rib1-primary">
                            <span class="text-white text-center rib1-primary">40% off</span>
                        </div><!--end ribbon-->
                        <img src="~/uploads/Products/3c80d96a-2b90-4a84-89b0-52ff9e9e0ef1_Camera.jpg" alt="" class="d-block mx-auto my-4" height="150">
                        <div class="row my-4">
                            <div class="col">
                                <span class="badge badge-light mb-2">Life Style</span>
                                <a href="#" class="title-text d-block">Professional DSLR Camera</a>
                            </div>
                            <div class="col-auto">
                                <h4 class="text-dark mt-0">$1999.99 <small class="text-muted font-14"><del>$54999.99</del></small></h4>
                                <ul class="list-inline mb-0 product-review align-self-center">
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star-half-o text-warning font-16 ml-n2"></i></li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-soft-primary btn-block">Add To Cart</button>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="ribbon1 rib1-primary">
                            <span class="text-white text-center rib1-primary">50% off</span>
                        </div><!--end ribbon-->
                        <img src="~/uploads/Products/172dc49b-0db4-4a6c-906b-1e2d8ed57eb2_Bluetooth Speaker.jpg" alt="" class="d-block mx-auto my-4" height="150">
                        <div class="row my-4">
                            <div class="col">
                                <span class="badge badge-light mb-2">Speaker</span>
                                <a href="#" class="title-text d-block">High-quality wireless speaker</a>
                            </div>
                            <div class="col-auto">
                                <h4 class="text-dark mt-0">$999.00 <small class="text-muted font-14"><del>$1999.99</del></small></h4>
                                <ul class="list-inline mb-0 product-review align-self-center">
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star-half-o text-warning font-16 ml-n2"></i></li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-soft-primary btn-block">Add To Cart</button>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="ribbon1 rib1-primary">
                            <span class="text-white text-center rib1-primary">50% off</span>
                        </div><!--end ribbon-->
                        <img src="~/uploads/Products/b6879250-b8ff-48d5-a06e-a34e05d28058_Headphones.jpg" alt="" class="d-block mx-auto my-4" height="150">
                        <div class="row my-4">
                            <div class="col">
                                <span class="badge badge-light mb-2">Headphones</span>
                                <a href="#" class="title-text d-block">Wireless over-ear headphones with noise cancellation</a>
                            </div>
                            <div class="col-auto">
                                <h4 class="text-dark mt-0">$1000.00 <small class="text-muted font-14"><del>$1999.99</del></small></h4>
                                <ul class="list-inline mb-0 product-review align-self-center">
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star-half-o text-warning font-16 ml-n2"></i></li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-soft-primary btn-block">Add To Cart</button>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="ribbon1 rib1-primary">
                            <span class="text-white text-center rib1-primary">70% off</span>
                        </div><!--end ribbon-->
                        <img src="~/uploads/Products/973c3e2d-abba-4cd3-948a-31ac2065882d_Electric Kettle 1.5L.jpg" alt="" class="d-block mx-auto my-4" height="150">
                        <div class="row my-4">
                            <div class="col">
                                <span class="badge badge-light mb-2">Electric Kettle</span>
                                <a href="#" class="title-text d-block">1.5L stainless steel electric kettle</a>
                            </div>
                            <div class="col-auto">
                                <h4 class="text-dark mt-0">$949.00 <small class="text-muted font-14"><del>$1499.99</del></small></h4>
                                <ul class="list-inline mb-0 product-review align-self-center">
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star-half-o text-warning font-16 ml-n2"></i></li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-soft-primary btn-block">Add To Cart</button>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->
        </div>  <!--end row-->
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="ribbon4 rib4-secondary">
                            <span class="ribbon4-band ribbon4-band-secondary text-white text-center">50% off</span>
                        </div><!--end ribbon-->
                        <img src="~/uploads/Products/47d3b634-b0b9-4dbe-bad6-0718d3e87d2f_01.png" alt="" class="d-block mx-auto my-4" height="150">
                        <div class="row my-4">
                            <div class="col">
                                <span class="badge badge-light mb-2">Amazon Security Camera</span>
                                <a href="#" class="title-text d-block">Smart security camera with HD video and cloud storage</a>
                            </div>
                            <div class="col-auto">
                                <h4 class="text-dark mt-0">$769.00 <small class="text-muted font-14"><del>$2099.00</del></small></h4>
                                <ul class="list-inline mb-0 product-review align-self-center">
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star-half-o text-warning font-16 ml-n2"></i></li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-soft-primary btn-block">Add To Cart</button>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="ribbon4 rib4-secondary">
                            <span class="ribbon4-band ribbon4-band-secondary text-white text-center">50% off</span>
                        </div><!--end ribbon-->
                        <img src="~/uploads/Products/61cee00a-61c1-4b27-b0a2-3bb4b9e737b5_03.png" alt="" class="d-block mx-auto my-4" height="150">
                        <div class="row my-4">
                            <div class="col">
                                <span class="badge badge-light mb-2">VR Headset</span>
                                <a href="#" class="title-text d-block">Immersive virtual reality headset with high-resolution display</a>
                            </div>
                            <div class="col-auto">
                                <h4 class="text-dark mt-0">$1020.00 <small class="text-muted font-14"><del>$2249.00</del></small></h4>
                                <ul class="list-inline mb-0 product-review align-self-center">
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star-half-o text-warning font-16 ml-n2"></i></li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-soft-primary btn-block">Add To Cart</button>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="ribbon4 rib4-secondary">
                            <span class="ribbon4-band ribbon4-band-secondary text-white text-center">50% off</span>
                        </div><!--end ribbon-->
                        <img src="~/uploads/Products/7f5e5cd4-d7f9-4117-95f4-7997e6d101ac_Smart TV.jpg" alt="" class="d-block mx-auto my-4" height="150">
                        <div class="row my-4">
                            <div class="col">
                                <span class="badge badge-light mb-2">Smart TV</span>
                                <a href="#" class="title-text d-block">55-inch 4K Ultra HD Smart LED TV</a>
                            </div>

                            <div class="col-auto">
                                <h4 class="text-dark mt-0">$41200.00 <small class="text-muted font-14"><del>$92490.00</del></small></h4>
                                <ul class="list-inline mb-0 product-review align-self-center">
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star-half-o text-warning font-16 ml-n2"></i></li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-soft-primary btn-block">Add To Cart</button>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="ribbon4 rib4-secondary">
                            <span class="ribbon4-band ribbon4-band-secondary text-white text-center">50% off</span>
                        </div><!--end ribbon-->
                        <img src="~/uploads/Products/6e0dd81e-d818-43d0-8e00-781c2a1c69d7_laptop.jpg" alt="" class="d-block mx-auto my-4" height="150">
                        <div class="row my-4">
                            <div class="col">
                                <span class="badge badge-light mb-2">Laptop</span>
                                <a href="#" class="title-text d-block">High performance laptop for work and gaming</a>
                            </div>
                            <div class="col-auto">
                                <h4 class="text-dark mt-0">$2669.00 <small class="text-muted font-14"><del>$8599.00</del></small></h4>
                                <ul class="list-inline mb-0 product-review align-self-center">
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star text-warning font-16 ml-n2"></i></li>
                                    <li class="list-inline-item"><i class="la la-star-half-o text-warning font-16 ml-n2"></i></li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-soft-primary btn-block">Add To Cart</button>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end col-->
        </div>  <!--end row-->

    </div><!-- container -->


</div>


<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/metismenu.min.js"></script>
<script src="~/assets/js/waves.js"></script>
<script src="~/assets/js/feather.min.js"></script>
<script src="~/assets/js/simplebar.min.js"></script>
<script src="~/assets/js/moment.js"></script>
<script src="~/assets/plugins/daterangepicker/daterangepicker.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>