
@{
    ViewData["Title"] = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/login.css" rel="stylesheet" />
@* @if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
 *@

@if (TempData["Success"] != null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '@TempData["Success"]',
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'OK'
        });
    </script>
}

<div class="login-container">
    <h2>Login</h2>
    <form asp-action="LoginPage" method="post">
        <div class="form-group">
            <label for="UserName">User Name:</label>
            <input type="text" id="Username" name="Username" required />
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" required />
        </div>
        <button type="submit" id="submitBtn">Login</button>
    </form>
    <p>Don't have an account? <a href="RegisterPage">Register here</a>.</p>
</div>


<script>
    document.getElementById('submitBtn').addEventListener('click', function (e) {
        var successMessage = '@ViewBag.SuccessMessage';
        if (successMessage) {
            e.preventDefault();
            alert(successMessage);
            window.location.href = '/Profile/ProfilePage';
        }
    });
</script>