@{
    ViewData["Title"] = "Customer Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/CustomerSupport.css" rel="stylesheet" />
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />

<section class="support-section">
    <h1 class="section-title">Customer Support</h1>
    <br/>
    <br/>
    <!-- Contact Form -->
    <div class="contact-form">
        
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Have More Questions</h4>
                    <p class="text-muted mb-0">Don't Worry ! Email us your Questions or you can send us twitter.</p>
                </div><!--end card-header-->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-group row">
                                    <div class="col-lg-6  mo-b-15">
                                        <input class="form-control" type="text" id="name" placeholder="Name">
                                    </div>

                                    <div class="col-lg-6">
                                        <input class="form-control" type="email" id="example-email-input3" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <input class="form-control" type="text" id="subject2" placeholder="Subject">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Your message"></textarea>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block px-4">Send Email</button>
                            </form>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <!-- FAQ Section -->
    <div class="faq-section">
        <h2>Frequently Asked Questions (FAQs)</h2>
        <br/>
        <div class="faq-item">
            <h3>How do I track my order?</h3>
            <p>You can track your order using the tracking link sent to your email or by visiting your order history on our website.</p>
        </div>
        <br/>
        <div class="faq-item">
            <h3>What is your return policy?</h3>
            <p>We offer a 30-day return policy on most products. Please refer to our return policy page for more details.</p>
        </div>
        <br/>
        <div class="faq-item">
            <h3>How can I contact support?</h3>
            <p>You can contact us via the form on this page or by emailing support@company.com.</p>
        </div>
    </div>
</section>


<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/metismenu.min.js"></script>
<script src="~/assets/js/waves.js"></script>
<script src="~/assets/js/feather.min.js"></script>
<script src="~/assets/js/simplebar.min.js"></script>
<script src="~/assets/js/moment.js"></script>
<script src="~/assets/plugins/daterangepicker/daterangepicker.js"></script>